.message {
  position: relative;
  display: inline-block;
  max-width: 90%;
  margin-bottom: 7px;
  padding: 10px 15px 10px;
  border-radius: 4px;
  background-color: #2962ff;
}

.message:before {
  content: url('./../../../public/svgs/bubble-corner.svg');
  position: absolute;
  top: calc(100% - 12px);
  fill: blue;
  left: 0;
  height: 20px;
  width: 20px;
}

.message.user:before {
  content: url('./../../../public/svgs/bubble-corner-user.svg');
  position: absolute;
  top: calc(100% - 12px);
  right: 0;
  left: auto;
  height: 20px;
  width: 20px;
}

.message.user {
  align-self: flex-end;
  background-color: #e60004;
  text-align: right;
}

.messageText {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin-bottom: 2px;
}

.messageText > p {
  margin-bottom: 2px;
}

.message:first-child {
  max-width: 170px;
}

.message.active:first-child {
  margin-top: 40px;
}

.message:last-child {
  margin-bottom: 25px;
}

.onboardMessageHeader {
  color: #172231;
  width: 90%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 50%;
}

.message.image {
  width: 90%;
  padding: 15px;
}

.message.video {
  width: 90%;
  padding: 15px;
}

.linkIcon {
  margin-right: 10px;
  transform: translate(0px, -1px);
}

.linkIcon.slider {
  margin-right: 0;
  float: right;
  opacity: 0.5;
}

.sliderMask {
  height: auto;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.chatSlider {
  width: 260px;
  height: 250px;
  background-color: transparent;
  margin-bottom: 20px;
}

.slide {
  max-width: 220px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: #2962ff;
  transition: transform 200ms ease;
}

.sliderImage {
  width: 100%;
  height: 120px;
  background-position: 50% 50%;
  background-size: cover;
}

.sliderHeading {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.sliderText {
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  color: #fff;
  line-height: 17px;
  letter-spacing: 0.1px;
  text-overflow: ellipsis;
  max-width: 185px;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  position: absolute;
  left: 0;
  display: none;
}

.sliderLink {
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

.sliderLink:hover {
  opacity: 0.75;
}
